.content{width: 100%;overflow: hidden;clear: both;}
.content .pay-wrapper{width: 100%;padding: 3% 0;overflow: hidden;}
.content .pay-wrapper .pay-list{display: flex;display: -moz-flex;display: -webkit-flex;flex-wrap: wrap;justify-content: space-between;}
.content .pay-wrapper .pay-list .pay-item{display: flex;display: -moz-flex;display: -webkit-flex;justify-content: space-between;width: 48%;margin: 2% 0;padding: 25px;
background: rgb(241, 241, 241);border: 1px solid #E5E5E5;align-items: center;}
.content .pay-wrapper .pay-list .pay-item .text{width: 55%;padding-left: 24px;}
.content .pay-wrapper .pay-list .pay-item .text p{font-size: 12px;color: #333;line-height: 2;}
.content .pay-wrapper .company-account{display: none;}
